.button1 {
    background-color: #0D47A1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
.button2 {
    background-color: #F44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
} 
.button3 {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
} 
.button4 {
    background-color: #FFEB3B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}     